<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список груп учнів</title>
    <link th:href = "@{css/groups-list.css}" rel="stylesheet">
</head>
<body>
<div class="container">
    <h1>Список груп учнів</h1>

    <!-- Перевірка наявності груп -->
    <th:block th:if="${not #lists.isEmpty(groups)}">
        <ul class="group-list">
            <!-- Цикл для виводу кожної групи -->
            <li th:each="group : ${groups}" class="group-item">
                <span class="group-name" th:text="${group.name}">Назва групи</span>
                <form th:action="@{/delete_group}" method="post" style="display: inline;">
                    <input type="hidden" name="groupId" th:value="${group.id}" />
                    <button type="submit" class="delete-btn">&#10005;</button>
                </form>
            </li>
        </ul>
    </th:block>

    <!-- Повідомлення, якщо список груп порожній -->
    <p th:if="${#lists.isEmpty(groups)}" class="empty-list">Список груп порожній</p>

    <!-- Кнопка для створення нової групи -->
    <a th:href="@{/create_group}" class="create-btn">Створити нову групу</a>
</div>
</body>
</html>